{% extends "dappx/base.html" %}

{% block content %}
  <h1>Welcome to the web-based recomender system for conference management and not only.</h1>

  <p> EasyChair is a conference management system that is flexible, easy to use, and has many features to make it suitable for various conference models. It is currently probably the most commonly used conference management system.
Our users include top conferences in several areas, for example, in World Wide Web and in Bioinformatics. Our users range from small workshops with around 10 submissions to big conferences having thousands of submissions.
The first version of EasyChair was implemented in 2002. It was used by 12 conferences in 2002-2004 and by 66 conferences in 2005. We believe that since 2006 we have become number one conference management system in the number of conferences, users and submissions. </p>

  <h3> What our Conference management system can do </h3>

  <ul>
  	<li> Управление конференциями (подбор по требованиям и предпочтениям, подача и отслеживание статуса заявки) </li>
  	<li> Поддержки ресеч-задач (рекомендации соавторства, профиль авторов со статистикой по научным работам) </li>
  	<li> Публикация статей в журналах </li>
  	<li> Что-то еще </li>
  	<li> И еще что-то </li>
  </ul>	

  <h3> Supported models </h3>

  <p> Currently, EasyChair supports two models. </p>

  <ol>
  	<li> The standard model is intended for conferences having a single program committee. The papers are distributed among PC members, normally based on their preferences. </li>
  	<li> The multi-track version is for conferences having multiple tracks. Each track has its own program committee and one of more track chairs. This model requires a "superchair" to monitor or supervise the work of the tracks. </li>
  </ol>

  <p> For each of the supported models the users can choose among various options to adjust the system to their requirements. For example, they can choose to use anonymous submissions. </p>


{% endblock %}